*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

html{
scroll-behavior:smooth;
}

body{
background:#ffdce3;
color:#c5568a;
}

/* HEADER */

.header{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 10%;
background:#fff6fa;

position:sticky;
top:0;
z-index:1000;
}


.navbar a{
margin:0 15px;
text-decoration:none;
color:#b16e7c;
font-weight:500;
transition:0.3s;
}

.navbar a:hover{
color:#e63946;
transform:scale(1.1);
}


/* HERO */

.hero-text h1{
font-size:60px;
font-weight:700;
}

.hero{
display:flex;
align-items:center;
justify-content:space-between;
padding:80px 10%;
}

.hero img{
width:1000px;
}

.hero button{
padding:12px 25px;
border:none;
background:#e63946;
color:white;
cursor:pointer;
margin-top:10px;
transition:0.3s;
}

.hero button:hover{
background:#c1121f;
transform:scale(1.05);
}


/* FEATURE */

.feature{
display:flex;
justify-content:space-around;
padding:50px 10%;
}

.feature-box{
text-align:center;
}

.feature-box img{
width:60px;
margin-bottom:10px;
}


/* PRODUCT */

.product{
padding:60px 10%;
text-align:center;
}

.product-container{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:20px;
margin-top:30px;
}

.product-card{
border:1px solid #ddd;
padding:15px;
border-radius:10px;
transition:0.3s;
background:white;
}

.product-card img{
width:100%;
}

.product-card:hover{
transform:translateY(-8px);
box-shadow:0 10px 25px rgba(0,0,0,0.2);
}

.product button {
    font-size: 10px;
    font-weight: 600;
    padding: 7px 10px;
    color: #fff;
    background-color: #e63946;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

/* SMALL BANNER */

.sm-banner{
display:flex;
gap:20px;
padding:60px 10%;
}

.banner-box{
position:relative;
flex:1;
}

.banner-box img{
width:100%;
border-radius:10px;
}

.banner-text{
position:absolute;
top:30%;
left:10%;
color:white;
}

.banner-text button{
margin-top:10px;
padding:10px 20px;
border:none;
background:#e63946;
color:white;
cursor:pointer;
}


/* NEW PRODUCT */

.new-product{
padding:60px 10%;
text-align:center;
}


/* NEWSLETTER */

.newsletter{
background:#ffb4da;
color:white;
text-align:center;
padding:60px;
}

.newsletter input{
padding:10px;
width:250px;
border:none;
border-radius:5px;
margin-right:10px;
}

.newsletter button{
padding:10px 20px;
background:#e63946;
border:none;
color:white;
cursor:pointer;
transition:0.3s;
}

.newsletter button:hover{
background:#c1121f;
}


/* FOOTER */

.footer{
display:flex;
justify-content:space-around;
padding:40px;
background:#91445b;
color:white;
}

.footer-box p{
margin:5px 0;
}


/* RESPONSIVE */

@media (max-width:1024px){

.product-container{
grid-template-columns:repeat(2,1fr);
}

.hero{
flex-direction:column;
text-align:center;
}

.hero img{
width:80%;
margin-top:20px;
}

}


@media (max-width:600px){

.product-container{
grid-template-columns:1fr;
}

.header{
flex-direction:column;
gap:10px;
}

.navbar{
display:flex;
flex-wrap:wrap;
justify-content:center;
}

.feature{
flex-direction:column;
gap:20px;
}

.sm-banner{
flex-direction:column;
}

.footer{
flex-direction:column;
text-align:center;
gap:20px;
}

}